@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary{
	background-color: #775647;
}

.text-primary{
	color: #775647;
}

.bg-secondary{
	background-color: #D3BFA8;
}

.bg-secondary-blur{
	background-color: #d3bfa870;
}

.border-primary{
	border-color: #775647;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.home-about:after {
    content: "";
    width: 30rem;
    height: 30rem;
    background: url("/images/svg/blob.svg") 0 0 no-repeat;
    top: -10rem;
    right: -10rem;
    position: absolute;
    display: inline-block;
}

.home-about:before {
    content: "";
    width: 30rem;
    height: 30rem;
    background: url("/images/svg/blob1.svg") 0 0 no-repeat;
    bottom: -15rem;
    left: -10rem;
    position: absolute;
    display: inline-block;
}

/* CARDS */
:root{
  /* --background-dark: #2d3548; */
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: center;
  /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  min-height: fit-content;
  justify-content: flex-start;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  font-weight: 400;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  width: 75%;
  font-weight: 600;
  /* word-spacing: 100vw; */
}


/* TESTIMONIALS */
:root {
	--mon: "Montserrat", sans-serif;
	--blue: #8a6bff;
	--darkblue: #0a0a36;
}
.testimonial-container {
	max-width: 1140px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
}
.sec-title {
	margin-bottom: 50px;
	padding-bottom: 15px;
	position: relative;
}
.sec-title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 3px;
	background: #000;
}
.sec-title h2 {
	font-size: 60px;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	letter-spacing: 0px;
	text-transform: uppercase;
	color: var(--blue);
}
.sec-title p {
	font-size: 18px;
	line-height: 28px;
}
.testimonial-area {
	background: var(--blue);
	position: relative;
	padding: 50px 0;
}
.testimonial-area .owl-carousel {
	/* overflow: hidden; */
	padding: 0 20px;
	margin: 0px -40px;
	padding-right: 40px;
}
.testimonial-area .owl-stage-outer {
	padding: 30px 50px;
	margin-left: -34px;
	width: calc(100% + 100px);
}
.single-testimonial {
	border: 7px solid #fff;
	text-align: center;
	border-radius: 45px;
	position: relative;
	/* z-index: 2; */
}
.single-testimonial p {
	color: #000;
	font-size: 15px;
	line-height: 24px;
	/* padding: 50px; */
	padding-bottom: 30px;
	position: relative;
	/* z-index: 3; */
}
.single-testimonial::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -35px;
	background: url(/images/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	transform: rotate(180deg);
	background-position: 34px 15px;
}
.single-testimonial::after {
	content: "";
	position: absolute;
	right: -35px;
	bottom: -34px;
	background: url(/images/quote.png) no-repeat;
	background-size: 60%;
	width: 126px;
	height: 100px;
	background-position: 34px 19px;
}
.round {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.round-1::before {
	content: "";
	position: absolute;
	left: 88px;
	top: -7px;
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 30px;
}
.round-1::after {
	content: "";
	position: absolute;
	left: -7px;
	top: 62px;
	width: 7px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
}
.round-2::before {
	content: "";
	position: absolute;
	right: 87px;
	bottom: -7px;
	width: 50px;
	height: 7px;
	background: #fff;
	border-radius: 30px;
	z-index: 1;
}
.round-2::after {
	content: "";
	position: absolute;
	right: -7px;
	bottom: 62px;
	width: 7px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
	z-index: 1;
}
.client-video {
	padding-right: 15px;
}
.client-info {
	position: relative;
	z-index: 3;
}
.client-info a {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.16);
	font-size: 22px;
}
.client-info {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	padding-bottom: 50px;
}
.client-info h6 {
	color: #000;
	font-weight: 700;
	font-size: 18px;
}
.client-info span {
	display: inline-block;
	color: #000;
	font-size: 12px;
}
.sec-title.white-title h2 {
	color: #fff;
}

@keyframes slides {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-75%);
  }
}

.testimonial-slides {
  animation: slides 30s linear 0s infinite normal;
}



/* FOOTER */
.grainy:before {
	animation: grain 8s steps(10) infinite;
	background-image: url(/images/noise.jpg);
	content: "";
	height: 300%;
	left: -50%;
	opacity: 0.1;
	position: absolute;
	top: -110%;
	width: 300%;
	z-index: 0;
  }
  
  @keyframes grain {
	0%, 100% { transform:translate(0, 0) }
	10% { transform:translate(-5%, -10%) }
	20% { transform:translate(-15%, 5%) }
	30% { transform:translate(7%, -25%) }
	40% { transform:translate(-5%, 25%) }
	50% { transform:translate(-15%, 10%) }
	60% { transform:translate(15%, 0%) }
	70% { transform:translate(0%, 15%) }
	80% { transform:translate(3%, 35%) }
	90% { transform:translate(-10%, 10%) }
  }


/* WORK */
/* WORKSHOP PAGE */
.workshop-intro{
	position: relative;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
  }
  
  .workshop-intro-div{
	width: 60%;
	height: fit-content;
  }
  
  .workshop-intro-p{
	text-align: center;
	font-size: clamp(0.2rem, 10vw, 2.4rem);
	line-height: 3rem;
  }
  
  .reason-section{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
  }
  
  .reason-section1{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	box-sizing: border-box;
	border-right: 1px solid #8b8b8b;
  }
  
  .reason-section1 p{
	font-size: 35rem;
	font-weight: 800;
	position: relative;
	left: -8rem;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
  }
  
  .reason-section4{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	box-sizing: border-box;
  }
  
  .reason-section4 p{
	font-size: 35rem;
	font-weight: 800;
	position: relative;
	right: -6rem;
	background-repeat: repeat;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-font-smoothing: antialiased;
  }
  
  .reason-section2{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	row-gap: 1.2rem;
	padding: 0 5rem;
	box-sizing: border-box;
  }
  
  .reason-section2 h2{
	font-size: 2.4rem;
	font-weight: 300;
  }
  
  .reason-section2 p{
	text-wrap: wrap;
	font-size: clamp(0.6rem, 5vw, 1.2rem);
	width: 90%;
  }
  
  .reason-section3{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	row-gap: 1.2rem;
	padding: 0 5rem;
	box-sizing: border-box;
	border-right: 1px solid #8b8b8b;
  }
  
  .reason-section3 h2{
	font-size: 2.4rem;
	font-weight: 300;
  }
  
  .reason-section3 p{
	text-wrap: wrap;
	font-size: clamp(0.6rem, 5vw, 1.2rem);
	width: 90%;
  }
  
  .section-middot{
	position: absolute;
	left: 49.5vw;
	top: 50vh;
	width: 1rem;
	height: 1rem;
	border-radius: 9999px;
	background-color: #000;
  }
  
  .intro-middot{
	position: relative;
	left: 49.5vw;
	bottom: 0rem;
	width: 1rem;
	height: 1rem;
	border-radius: 9999px;
	background-color: #000;
  }
  
  
  .reason-section-p1{
	background-image: url("/images/text-bg1.jpg");
  }
  
  .reason-section-p2{
	background-image: url("/images/text-bg2.jpg");
  }
  
  .reason-section-p3{
	background-image: url("/images/text-bg3.jpg");
  }
  
  .reason-section-p4{
	background-image: url("/images/text-bg4.jpg");
  }
  
  .reason-section-p5{
	background-image: url("/images/text-bg5.jpg");
  }
  

  @media screen and (max-width: 600px) {
	.workshop-intro{
		height: auto;
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	.workshop-intro-div{
		width: 85%;
	}

	.workshop-intro-p{
		font-size: 1.5rem;
		line-height: 2rem;
	}

	/* .intro-middot{
		bottom: -5rem;
	  } */

	.section-middot{
		display: none;
	}

	.reason-section{
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 1rem;
	}

	.reason-section1{
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		border-right: none;
		position: relative;
		top: -2rem;
	}

	.reason-section1 p{
		font-size: 14rem;
		left: 0rem;
		margin: 0px;
		padding: 0px;
	}

	.reason-section2{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		row-gap: 1.2rem;
		padding: 0 2rem;
		box-sizing: border-box;
		position: relative;
		top: -5rem;
	}

	.section2{
		flex-direction: column-reverse;
	}

	.reason-section4{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
	}
	
	.reason-section4 p{
		font-size: 14rem;
		font-weight: 800;
		right: 0rem;
		left: 0rem;
		margin: 0px;
		padding: 0px;
	}

	.reason-section3{
		padding: 0 2rem;
		border-right: none;
		position: relative;
		top: -5rem;
	}
  }



/* PORTFOLIO */
.works:hover img{
	scale: 1.05
}

/* CONTACT */
/* .page-header:before {
	animation: grain 8s steps(10) infinite;
	background-image: url(/images/noisy.png);
	content: "";
	height: 300%;
	left: -50%;
	opacity: 0.3;
	position: fixed;
	top: -110%;
	width: 300%;
  } */
  
  @keyframes grain {
	0%, 100% { transform:translate(0, 0) }
	10% { transform:translate(-5%, -10%) }
	20% { transform:translate(-15%, 5%) }
	30% { transform:translate(7%, -25%) }
	40% { transform:translate(-5%, 25%) }
	50% { transform:translate(-15%, 10%) }
	60% { transform:translate(15%, 0%) }
	70% { transform:translate(0%, 15%) }
	80% { transform:translate(3%, 35%) }
	90% { transform:translate(-10%, 10%) }
  }
  
  
  
  
  /* Icon 3 */
  
  #nav-icon3 {
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
  }
  
  #nav-icon3 span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #ffffff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
  }
  
  #nav-icon3 span:nth-child(1) {
	top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 50%;
  }
  
  #nav-icon3 span:nth-child(4) {
	top: 100%;
  }
  
  #nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
  }










/* From Uiverse.io by ashish-yadv */ 
.loader {
	width: 60px;
	display: flex;
	justify-content: space-evenly;
  }
  
  .ball {
	list-style: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
  }
  
  .ball:nth-child(1) {
	animation: bounce-1 2.1s ease-in-out infinite;
  }
  
  @keyframes bounce-1 {
	50% {
	  transform: translateY(-18px);
	  background-color: black;
	}
  }
  
  .ball:nth-child(2) {
	animation: bounce-3 2.1s ease-in-out 0.3s infinite;
  }
  
  @keyframes bounce-2 {
	50% {
	  transform: translateY(-18px);
	  background-color: black;
	}
  }
  
  .ball:nth-child(3) {
	animation: bounce-3 2.1s ease-in-out 0.6s infinite;
  }
  
  @keyframes bounce-3 {
	50% {
	  transform: translateY(-18px);
	  background-color: black;
	}
  }


.swiper{
overflow: visible !important;
}

.swiper-pagination{
	display: block;
	bottom: -40px !important;
}

.analyst-list ul{
	list-style-type: disc;
	list-style-position: outside;
}

.analyst-list ul li::marker{
	color: #775647;
}


/* Show navigation on mobile only */
@media (max-width: 767px) {
	.tiny-scroll {
		overflow-x: scroll; 
		scrollbar-gutter: stable;
	}
	
	.tiny-scroll::-webkit-scrollbar {
		width: 5px; 
		height: 5px; 
	}
	
	.tiny-scroll::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.3); 
		border-radius: 10px; 
	}
	
	.tiny-scroll::-webkit-scrollbar-track {
		background-color: rgba(0, 0, 0, 0.1); 
	}
	
	/* For Firefox */
	.tiny-scroll {
		scrollbar-width: thin; 
		scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); 
	}

  .swiper-button-prev-custom{
	padding: 1rem;
  }

  .swiper-button-next-custom{
	padding: 1rem;
  }
  
  .swiper-pagination{
	display: none;
  }

  .hero-section{
	row-gap: 2rem;
  }
}